@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
.a4{
    color:white;
    text-shadow:1px 1px 10px white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.a5{
    border-radius: 10px;
    border: none;
    height: 30px;
    font-size: 20px;
    width: 170px;
}
.a10,.a11{
    width: 200px;
    border-radius: 10px;
    height: 35px;
    font-size: 17px;
    border: none;
}
.card {
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 65px rgba(255, 255, 255, 0.863);
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
}
body{
    background-image: url(../../asset/pass12.jpg);
    background-size: 100vw 100vh;
}
